body { background: #f4f7f6; }

.header { padding-bottom: 20px; }
h6 { color: #8BC34A; font-size: 15px; }

.form-control:focus { border-color: #49c5b6; box-shadow: none; }
.form-control { border-radius: 1.5rem; }
.btn-group-sm>.btn, .btn-sm { padding: 0.05rem .5rem; font-size: .875rem; line-height: 1.4; border-radius: .2rem; }

.card { background: #fff; margin-bottom: 3em; padding: 1.5em; transition: .5s; border: 0; border-radius: .55rem; position: relative; width: 100%; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); }

.btn { border-radius: 2em; }

.btn-group-sm>.btn, .btn-sm { border-radius: 1em; }


