button.btn-add-order { width: 100%; background: #8BC34A; color: #ffffff; }
button.btn-add-order:hover { background: #8BC34A; }
button.btn-add-order:focus { outline: 0; box-shadow: 0 0 0 0.2rem #8bc34a85; }
