<section id="add-order">

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="form-row align-items-md-end">
      <div class="col-md-6 my-1">
        <label for="customer">Imie</label>
        <input type="text" class="form-control" id="customer" formControlName="customer">
        <div *ngIf="orderForm.get('customer').invalid && orderForm.get('customer').dirty">Pole wymagane.</div>
      </div>
      <div class="col-md-6 my-1">
        <label for="price">Cena</label>
        <input type="number" class="form-control" id="price" formControlName="price">
        <div *ngIf="orderForm.get('price').invalid && orderForm.get('price').dirty">Pole wymagane.</div>
      </div>
      <div class="col-md-12 my-1">
        <label for="dinner">Danie</label>
        <input type="text" class="form-control" id="dinner" formControlName="dinner">
        <div *ngIf="orderForm.get('dinner').invalid && orderForm.get('dinner').dirty">Pole wymagane.</div>
      </div>
      <div class="col-md-3 my-1">
        <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Dodaj</button>
      </div>
    </div>
  </form>

</section>
