<section id="orders" class="card">

  <div class="header">
      <h6><strong>Zamowienia</strong></h6>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th width="140px">#</th>
        <th width="250px">Imie</th>
        <th width="auto">Danie</th>
        <th width="140px">Cena</th>
        <th width="140px">Zapłacone</th>
        <th width="200px">Opcje</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders | async; let i = index">
        <tr *ngIf="order.status == true">
          <th scope="row">{{i+1}}</th>
          <td>{{order.customer}}</td>
          <td>{{order.dinner}}</td>
          <td>{{order.price}}</td>
          <td *ngIf="order.isPayd == true;" (click)="setNotPayd(order.key)"><button type="button" class="btn btn-outline-success btn-sm">Tak</button></td>
          <td *ngIf="order.isPayd == false;" (click)="setIsPayd(order.key)"><button type="button" class="btn btn-outline-danger btn-sm">Nie</button></td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-primary" (click)="getOrder(order)" data-toggle="modal" data-target="#editOrder">Edytuj</button>
              <button type="button" class="btn btn-danger" (click)="deleteOrder(order.key)">Usuń</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #noOrders>
    <p>BRAK ZAMÓWIEŃ</p>
  </ng-template>

</section>
