<section id="orders">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imie</th>
        <th scope="col">Danie</th>
        <th scope="col">Cena</th>
        <th scope="col">Zapłacone</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders; let i = index">
        <tr *ngIf="order.status == true">
          <th scope="row">{{i+1}}</th>
          <td>{{order.customer}}</td>
          <td>{{order.dinner}}</td>
          <td>{{order.price}}</td>
          <td *ngIf="order.isPay == true; else notPay">TAK</td>
          <td *ngIf="order.status == true; else statusFalse">TRUE</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #noOrders>
    <p>BRAK ZAMÓWIEŃ</p>
  </ng-template>

  <ng-template #notPay>
    <td style="color: #e60000">NIE</td>
  </ng-template>

  <ng-template #statusFalse>
    <td style="color: #e60000">FALSE</td>
  </ng-template>

</section>
